#admin-navbar {
    background: #222;
    color: #ccc;
}

.navbar {
    border-raduis: 0;
}

.navbar-default {
    margin: 0;
    border: 0;
    border-radius: 0;
    background: #222;
    
    .navbar-toggle {
        
        &:hover,
        &:focus,
        &:active  {
            background: transparent;
        }
        
    }
    
}

.navbar-brand {
    float: none;
}

.navbar-header {
    float: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #2b2b2b;
}

.admin-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    
    a {
        display: block;
    }
    
    img {
        width: 75px;
    }
    
}

.admin-logo-desc {
    font-size: 12px;
}

.current-user {
    margin-top: 0px;
    font-size: 16px;
}

.navbar-toggle {
    border: 0;
    margin: 0;
    border-right: 1px solid #ddd;
    border-radius: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 17px;
    padding-right: 17px;
    float: left;    
    
    @media (min-width: $screen-sm-min) {
        display: block;
    }
    
}

.navbar-brand {
    float: none;
    padding: 0 15px;
}

#menu-navbar {
    margin: 0;
}

.menu-navbar-item {
    
    &.active {
    
        a {
            border-left: 10px solid #00ffdc;
            background: #191515;
        }
        
        &.sub-item {
            
            a {
                padding-left: 25px;
            }
        }
    }
    
    &.sub-item {
        
        a {
            padding-left: 35px;
        }
        
    }
    
    &.parent {
    
        &.show {
         
            > a {
                background: #191515;
            }
            
        }
    }
    
    a {
        display: block;
        padding: 15px;
        font: {
            family: 'open_sansregular';
            size: 13px;
        }
        //color: #ccc;
        color: #afacaa;
        letter-spacing: 2px;

        &:hover,
        &:focus,
        &:active {
            background: #363636;
            text-decoration: none;
        }
        
    }

}

.menu-item-parent {
    
    .fa-caret-up,
    .fa-caret-down {
        margin-left: 5px;
    }
    
    &[aria-expanded="true"] {
        
        .fa-caret-up {
            display: inline-block;
        }
        
        .fa-caret-down {
            display: none;
        }
        
    }
    
    &[aria-expanded="false"] {
        
        .fa-caret-up {
            display: none;
        }
        
        .fa-caret-down {
            display: inline-block;
        }
        
    }
}

.menu-item-icon {
    margin-right: 15px;
    font-size: 18px;
}

.menu-navbar-child-list {
    background: #2b2b2b;
}

.btn-change-pass {
    font-size: 11.5px;
}

#public-site-link {
    margin-bottom: 15px;

    a {
        font: {
            family: 'latobold';
            size: 14px;
        }
        color: #fff;

        &:focus,
        &:active,
        &:hover {
            text-decoration: none;
            color: #afacaa;
        }
    }

}